@font-face{
    font-family: BebasNeue;
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2');


}
@font-face{
font-family: RetroPixel;
src: url('./fonts/orange\ kid.woff2') format('woff2');
}
 
