{
    "parserOptions": {
      "ecmaVersion": 2022
    },  
    "env": {
      "browser": true
    },
    // "parser": "@babel/eslint-parser",
    "globals": {
      "browser": true,
      "console": true
    },
    "extends": "airbnb-base",
    "rules": {
      "max-classes-per-file":"off",
      "no-param-reassign":"off",
      "strict": [
        2,
        "global"
      ]
    }
  }
  