<div >
    <div style="background-color: papayawhip; border: 1px solid darkblue; padding:10px; ">
        <div style=" display: flex; justify-content: start; align-items: center; flex-direction: row;">
            <h3>Latest Blog- </h3> <h2 data="0.Title"> N/A</h2>
        </div>
        <h3  syle="padding-top:0px;" data="0.Header"></h3>
        <p data="0.Text"></p>
        <sub><em data="0.Date"></em></sub>
    </div>
</div>

<hr>
<div style=" display: flex; justify-content: start; align-items: center; flex-direction: row;">
    <h2>Past Blogs</h2>
</div>
<div style="height: 500px; overflow: scroll; background-color: lightblue; border: 1px  solid maroon; padding: 10px;" data="1...n">
</div>
