<div>
    <div Data="0.Element">
        <div style="display: inline;">
            <h2>Latest Entry :</h2> <p Text="0.Data.Name">N/A</p>
        </div>
        

    </div>
    <div Data="1...n.Element">
        <h2>Dates</h2>
        
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", InitContainer);

function InitContainer()
{
    
}

class dynContainer
{
    constructor(dataUrl,dataParser,templateUrl)
    {
        let dynElements = new Array();
        let dynData = new dyn(dataUrl,true).GetStream();
        if(dataParser)
        {
            dynData= dataParser(dynData);
        }
        dynData= [dynData];
        let dynTemplate = new dyn(templateUrl,false).GetStream();
            for(data of dynData)
            {
                dynElements.push(new dynElement(data,dynTemplate));
            }
    
    }
    Init()
    {
            let dataValue = document.getAttribute('data');
            let isElement = false;
            let isLoop= false;
            isElement=dataValue.isNan ? true: false;
            ifLoop= dataValue.split('...').length > 1;
            let dynIndex = Number(dataValue.split('.')[0]);
            let dynDataName = dataValue.split('.')[-1];
            
            if (isElement)
            {
                element.appendChild(dynElments[dynIndex]);
            }
            else if(dynElement[0].Data.hasOwnProperty(dynDataName))
            {
                element.textContent = dynElement.Data[dynDataName];
            }
            else if(isLoop)
            {
                let splitArray = dataValue.split('...')
                let startIndex= splitArray[0];
                let endIndex = splitArray[1];
                if(endIndex.isNan && endIndex.toLowerCase == 'n')
                {
                    endIndex = dynElements.length;
                }
                for(let index = startIndex;startIndex<endIndex;startIndex++)
                {
                    element.appendChild(dynElements[index].Element)
                }
            }
    }

}

class dynElement
{
    constructor(data,template, )
    {
        let localData = data;
        let localTemplate = template;
        this.Data= localData;
        this.Template=localTemplate;
        this.Element= this.#RenderElement();
    }
    #RenderElement()
        {
            let element = document.createDocumentFragment();
            var nodes = document.createElement('div');
            nodes.innerHTML=this.Template;
            element.appendChild(nodes)
            let props= element.querySelectorAll('[data]');
            for(var prop of props)
            {
                //assumes there will always be a 1:1 binding so things can fail bad here 
                let name= prop.getAttribute('data');
                let value = this.Data[name];
                prop.textContent= value;
            }
            return element;
            
        } 
    SetTemplate(template)
    {
        localTemplate=template;
    }
    setData(data)
    {
        localData=data;
    }

}

class dyn
{
    constructor(source,isData)
    {
        this.isData=isData;
        let localSource=source;
        let localStream=undefined;
        this.Get;
        this.Stream= this.GetStream();
    }
    SetSource(source)
    {
        localSource=source;
    }
    Get()
    {
        fetch(localSource)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Failed to fetch ${isData == true ?"Data":"Template"}} from ${localSource}`);
            }
            return response.text();
        })
        .then(stream=>{
            localStream = stream;
            
        })
        .catch( error=>{
            return error.message;
        })
    }
    GetStream()
    {
        if(localStream == undefined)
        {
            this.Get();
        }
        return localStream;
    }
}

</script>