<h1>Blogs</h1>
<hr>
<div >
    <div style="background-color: papayawhip; border: 1px solid darkblue; padding:10px; ">
        <div >
            <h3>Latest Blog- </h3> <h2 data="0.Title"> N/A</h2>
        </div>
        <h3  syle="padding-top:0px;" data="0.Header"></h3>
        <p data="0.Text"></p>
        <sub><em data="0.Date"></em></sub>
    </div>
</div>
<div data="1...3">

</div>
<hr>
<div style=" display: flex; justify-content: start; align-items: center; flex-direction: row;">
    <h2>Past Blogs</h2>
</div>
<div style="height: 500px; overflow: scroll; background-color: lightblue; border: 1px  solid maroon; padding: 10px;" data="4...n">
    <div>
        <p data="x.Date"></p>
        <p data="x.Date"></p>
        <p data="x.Date"></p>
    </div>
</div>



<!-- most test-->
<body>
    <div>
        <div dyn=""></div>
        <div></div>
        <div dyn=""></div>
    </div>
</body>


<!-- Hypothetical Layout -->
<body>
    <h1>K1n9Bur93r</h1>
    <p> Little projects and ideas in the hope of creating a good site. <a href="https://github.com/k1n9bur93r/k1n9bur93r.github.io/tree/main">Github</a></p>
    <p> Current project: <strong>Blog System</strong></p>
    <ul>
        <li> Blogs read from a text file</li>
        <li> Blog data is paired with a blog html template</li>
        <li> Both of these items are then ran through a larger container that determines how items are displayed</li>
        <li> Generic object handles binding and updating data to template</li>
    </ul>
    <br>
    <div record="../blogs.txt" morph="ReverseOrder" >
        <div>
            <div dyn="0">
                <div style="display: inline;">
                    <h2>Latest Entry :</h2> <p prop="0.Name">N/A</p>
                </div>
            </div>

            <div dyn record="..." plate="..."></div>
            <div dyn record="..." name="...">
                <div dyn="" >

                </div>
            <div dyn></div>
            <div dyn="../dyns/activitytracker.html"> </div>
            <div dyn="0"></div>
            <!-- <div dyn="0.title"></div>  -->
            <!-- <div dyn prop="title"></div> -->
            <div dyn="1...n"></div>
            <!-- <div dyn="1...n.title"></div> -->
            <!-- <div dyn="1...n" prop="title"></div> -->
            <div dyn morph="func"></div>
            <div dyn show="func">

                
            </div>


            <div dyn="1...n" morph="CheckIfTuesday">
                <div show="x.Title == 'Intro'">
                    <p class="IsIntroTitle">Title</p>
                </div>
                <div show="x.Title != 'Intro'" prop="Title">

                </div>

                <script>
                    function CheckIfTuesday(blog)
                    {
                        blog.date = blog.date + 31 / 7 * 8;
                        if(date <= date*2)
                        {
                            blog.date =blog.date*4;
                            return blog;
                        }
                        else
                        {
                            blog.date= blog.date*2;
                            return blog;
                        }
                    }
                </script>
                
            </div>
        </div>
        <script>
            function ReverserOrder(blogs)
            {
                return blogs.reverse();
            }
        </script>
    </div>
</body>


<!-- A page can have plates and records, all plates and records are then loaded into a dict to save on being called again-->
<!-- whenever an element has a dyn attribute it is an item that can have a record or plate applied to it -->

