 <div style ="padding: 10px;background-color: lightblue;border: 1px solid">
    <h4>Las Vegas Weather</h4>
    <div style="display: flex;flex-direction: row;">
        </div>
    <div style="background-color: papayawhip; padding: 5px;">
    <div style="display: flex;flex-direction: row;">

    <p>It's <p></p>{{description}}</p>
    </div>
    <div style="display: flex;flex-direction: row;">
        <h3>Temperature in C: </h3>
        <i><h3  style="color:crimson">{{temperature}}</h3></i>
    </div>
    <div style="display: flex;flex-direction: row;">
        <h3>Wind Speed: </h3>
        <i><h3 style="color:seagreen">{{wind}}</h3></i>
    </div>
</div>
    </div>
